body {
       font-family: 'Work+Sans', sans-serif;
       overflow-y: scroll;
       scroll-behavior: smooth;
}

/* MASTHEAD DREAM BODY
-------------------------------------------------- */

.hero {
  height: 100vh;
  min-height: 500px;
  background: url("../pictures/brocnbells-com-team-1284589-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.masthead h1 {
  font-weight: bold;
  color: white;
  font-size: 80px;
  padding: 20% 0 0;
}

#word {
  color: #daeea0;
}



/* LIFESTYLE CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns */
.lifestyle .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.lifestyle h2 {
  font-weight: 400;
}
.lifestyle .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Line between Heading and Paragraph */

.underline .line {
    height: 4px;
    width: 8rem;
    background: linear-gradient(90deg, #daeea0, #5dbfcc);
    display: inline-block;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 7rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the lifestyle headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.lead {
  text-align: justify;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media screen and (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media screen and (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* .img-rounded {
  max-width = 100%;
  height= auto;
} */


/* NAVIGATION
-------------------------------------------------- */
.navbar {
    font-weight: bold;
    background: linear-gradient(90deg, #daeea0, #5dbfcc);
    margin-bottom: 0;
    border-color: transparent;
}

.navbar-text-gradient {
  background: #1c808e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
    font:  yellow;
}

.navbar .nav li {
    width: 1%;
    float: none;
}


/* TESTIMONIALS
-------------------------------------------------- */

.profile {
  width: 150px;
}


.featurette-image {
  max-width: 460px;
  max-height: auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.social {
  width: 20px;
}


.container-contact .flex-horizontal-center {
  justify-content: center;
}

.wrap-contact {
    background: linear-gradient(to right, rgba(219, 238, 160, 0.9), rgba(93, 191, 204, 0.9));
    border-radius: 150px;
    overflow: hidden;
    padding: 8px 50px 8px 50px;
    font-size: 18px;
}

#submitDetails {
  background: none;
  padding: 0;
  border: none;
}

#submitDetails:hover {
  background: none;
  padding: 0;
  border: none;
}

#submitDetails:onclick {
  background: none;
  padding: 0;
  border: none;
}


.Contact-Simona h1 {

  font-size: 80px;
}

.featurette-heading .transform {
  font-weight: bold;
  background: -webkit-linear-gradient(0.90turn, #daeea0, #5dbfcc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
