body {
       font-family: 'Work+Sans', sans-serif;
       overflow-y: scroll;
       scroll-behavior: smooth;
}

/* MASTHEAD DREAM BODY
-------------------------------------------------- */

.hero {
  height: 100vh;
  min-height: 500px;
  background: url("../pictures/brocnbells-com-team-1284589-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.masthead h1 {
  font-weight: bold;
  color: white;
  font-size: 80px;
  padding: 20% 0 0;
}

#word {
  color: #daeea0;
}



/* LIFESTYLE CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns */
.lifestyle .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.lifestyle h2 {
  font-weight: 400;
}
.lifestyle .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Line between Heading and Paragraph */

.underline .line {
    height: 4px;
    width: 8rem;
    background: linear-gradient(90deg, #daeea0, #5dbfcc);
    display: inline-block;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 6rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the lifestyle headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* NAVIGATION
-------------------------------------------------- */
.navbar {
    font-weight: bold;
    background: linear-gradient(to right, rgba(219, 238, 160, 0.7), rgba(93, 191, 204, 0.7));
}

.navbar .nav li {
    width: 1%;
    float: none;
}


/* TESTIMONIALS
-------------------------------------------------- */

.profile {
  width: 150px;
}


.featurette-image {
  max-width: 460px;
  max-height: 500px;
}
